<div class="row">
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">Fechar Dicas <span
                aria-hidden="true">&times;</span></button>
        <p class="lead">Dicas de como user esta carta!</p>

        <ul class="espaco">
            <li><strong>Comece a pesquisar serviços digitando termos ou parte de termos, como por ex.:</strong> <em>"pje", "processo", "proc", "consult" ...</em></li>
            
        </ul>


    </div>

</div>