{% macro render_styles() %}
<style>
    :root {
        --color-primary: #004a85;
        --color-primary-hover: #4cae4c;
        --color-secondary: #f0f8ff;
        --color-secondary-hover: #d9eaf7;
        --color-text: #333;
        --color-border: #004a85;
        --color-modal-bg: #f9f9f9;
        --color-modal-border: #ddd;
    }

    .card {
        border: 1px solid var(--color-border);
        border-radius: 8px;
        margin-bottom: 15px;
        background-color: var(--color-secondary);
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: var(--color-secondary-hover);
    }
    .card-header {
        background-color: var(--color-primary);
        color: white;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .card-description {
        padding: 10px;
        color: var(--color-text);
    }
    .area-title {
        margin-top: 20px;
        margin-bottom: 10px;
        color: var(--color-primary);
        font-weight: bold;
        font-size: 22px;
        text-align: center;
    }
    .form-control {
        border: 1px solid var(--color-border);
    }
    .form-control:focus {
        border-color: var(--color-border);
        box-shadow: 0 0 8px rgba(0, 110, 173, 0.5);
    }

    .modal-body h5 {
        margin-top: 15px;
    }
    .modal-body .row {
        margin-bottom: 10px;
    }
    
    .modal-body .row p {
        margin: 0;
        padding: 10px;
        background-color: var(--color-modal-bg);
        border: 1px solid var(--color-modal-border);
        border-radius: 4px;
    }
    .modal-body {
        background-color: #ffffff !important;
    }
    .espaco {
        padding: 15px 15px 15px 15px;
    }
    .categoria {
        border-bottom: 1px solid var(--color-border);
        color: var(--color-primary);
    }
</style>
{% endmacro %}