<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carta de Serviços</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    {% import 'carta-estilos.html' as estilos %}
    {{ estilos.render_styles() }}

    <div class="container">
        <h3 class="area-title"><i class="fa fa-info-circle"></i> Carta de Serviços ao Usuário</h3>
        <div class="row">
            <div class="form-group" style="margin-top: 20px; text-align: center;">
                <div class="col-md-8">
                    <input type="text" id="search" class="form-control" placeholder="Digite pelo menos 3 caracteres para pesquisar os Serviços...">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block" type="button" onclick="resetSearch();">Limpar</button>
                </div>
            </div>

        </div>

        {% for categoria in categorias %}
        <h4 class="categoria">{{ categoria.nome|safe }}</h4>
        <div class="row">
            <!-- Iterar pelos Serviços da Categoria -->
            {% for servico in categoria.servicos %}
            <div class="col-md-6">
                <div class="card" data-toggle="modal"
                    data-target="#{{servico.nome|replace(' ', '')|replace(',', '')|replace('.','') }}" 
                    data-servico="{{servico.nome}} {{ servico.descricao }} {{servico.custo}} {{ servico.formas}}"
                    style="cursor: pointer;">
                    <div class="card-header">{{ servico.nome }}</div>
                    <div class="card-body">
                        <p class="espaco">{{ servico.descricao|safe }}</p>
                    </div>
                </div>
            </div>
            <!-- Modal: {{ servico.nome }} -->
            <div id="{{ servico.nome|replace(' ', '')|replace(',', '')  }}" class="modal fade" tabindex="-1"
                role="dialog">
                <div class="modal-dialog">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="panel-title">{{ servico.nome }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <p class=""> {{ servico.descricao|safe }}</p>
                            </div>
                            <div class="row">
                                {% if servico.formas %}
                            <h5 class="col-md-3"><strong>Formas de Atendimento:</strong></h5>
                            <p class="col-md-9 ">{{ servico.formas|safe }}</p>
                            {% endif %}
                            </div>
                            <div class="row">
                                {% if servico.requisitos %}
                            <h5 class="col-md-3"><strong>Requisitos:</strong></h5>
                            <p class="col-md-9 ">{{ servico.requisitos|safe }}</p>
                            {% endif %}
                            </div>
                            <div class="row">
                                {% if servico.etapas %}
                            <h5><strong>Como acessar ao serviço(Etapas):</strong></h5>
                            <p class="">{{ servico.etapas|safe }}</p>
                            {% endif %}
                            </div>
                            <div class="row">
                                {% if servico.prazo %}
                            <h5 class="col-md-3"><strong>Prazo:</strong></h5>
                            <p class="col-md-9 ">{{ servico.prazo|safe }}</p>
                            {% endif %}
                            </div>
                            <div class="row">
                                {% if servico.contato %}
                            <h5 class="col-md-3"><strong>Contato:</strong></h5>
                            <p class="col-md-9 ">{{ servico.contato|safe }}</p>
                            {% endif %}
                            </div>
                            <div class="row">
                                {% if servico.comunicacao %}
                                <h5 class="col-md-3"><strong>Comunicação com o Usuário:</strong></h5>
                                <p class="col-md-9 ">{{ servico.comunicacao|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if servico.prioridade %}
                                <h5 class="col-md-3"><strong>Prioridade:</strong></h5>
                                <p class="col-md-9 ">{{ servico.prioridade|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="row">
                                {% if servico.custo %}
                                <h5 class="col-md-3"><strong>Custo:</strong></h5>
                                <p class="col-md-9 ">{{ servico.custo|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            function resetSearch() {
                const searchInput = document.getElementById('search');
                searchInput.value = ''; // Limpa o campo de busca
                $('.col-md-6').show(); // Mostra todos os cards
            }

            $(document).ready(function () {
                // Filtro de busca no campo "dados-serviço"
                const busca_qtd_chars = 3;
                $('#search').on('input', function () {
                    const query = $(this).val().toLowerCase();
                    if (query.length >= busca_qtd_chars) {
                        $('.card').each(function () {
                            const dadosServico = $(this).data('servico').toLowerCase();
                            $(this).closest('.col-md-6').toggle(dadosServico.includes(query));
                        });
                    } else {
                        $('.col-md-6').show();
                    }
                });
            });
        </script>

</body>

</html>